/*
  Team WebPage CSS
  Filenmae: styles.css
*/

/* reset styles */
article, body, div, footer, header, h1, h2, img, p  {
  border: 0;
  padding: 0;
  margin: 0;
}

/* body and page containier */
.containier {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  color: #FFFFFF;
  background-color: #BBDEFB;
  /* border-color: #BDBDBD; */

  position: absolute;
  right: 10.5%;
  top: 0em;
}
.contanier h1 {
  vertical-align: top;
}

body {
  background-image:url("img/128-174.jpg");background-repeat:repeat;
}

/*Site Navigation Bar*/
nav.sitenavigation {
  color: #FFFFFF;
  /* text-align: center; */
}
nav.sitenavigation a {
  text-decoration: none;
  margin: 0.05em;
  color: #FFFFFF;
  /* text-align: center; */
}
nav.sitenavigation li {
  margin: 0.3em 0.5em;
  display: inline-block;
  font-size: 1.3em;
  line-height: 1.4em;
  border: solid grey 2.5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: black;
  /* text-align: center; */
}

/*headings*/
header {
  position: relative;
  width: auto;
  height: 15%;
  text-align: center;
  max-width: 100%;
  top: 0;
  background-color: #1976D2;
  padding: 1.5em;
  /* border-bottom: 2.5px solid black; */
}
h1 {
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  margin: 15px;
  padding-bottom: 15px;
}
header img {
  height: 80px;
  width: 80px;
  float: left;
  position: absolute;
  top: 12px;
  left: 10px;
  border: 2px solid black;
}
hr {
  color: darkgrey;
  height: 2px;
  background-color: darkslategrey;
}
h2 {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  /* padding: 0.4em; */
} 
p {
  font-family:serif;
  font-size: 1.2em;
  text-align: center;
}

/* main content */
article {
  position: relative;
  height: 60%;
  width: 60%;
  float: left;
  background-color: #BDBDBD;
  padding-top: 5em;
  padding-bottom: 5em;
  max-height: 80%;
  min-height: 10%;
  /* max-width: 59.1%; */
  /* border: 2.5px solid black; */
}
article p {
  padding: 0.1em 1em;
  /* text-align: center; */
}

/* sidebar */
aside {
  float: right;
  color: #FFFFFF;
  height: 40%;
  width: 40%;
  position: relative;
  background-color: #757575;
  padding-bottom: 4.35em;
  max-height: 80%;
  min-height: 10%;
  /* border: 2.5px solid black; */
  /* padding-top: .5%; */
}
aside p {
  padding: 0.4em 0;
  margin: 0 0.6em;
}
articleb {
  float: right;
  width: 40%;
  height: 60%;
  position: relative;
  background-color: #2196F3;
  padding-top: 5em;
  padding-bottom: .88em;
  max-height: 80%;
  min-height: 10%;
  /*  padding: 1em 0; */
  /* border: solid black 2.5px; */
}
articleb p {
  padding: 0.1em 1em;
}
asideb {
  float: left;
  padding-top: 10%; 
  height: 30%;
  width: 60%;
  padding: 3.6em 0;
  position: relative;
  background-color: #2196F3;
  max-height: 80%;
  min-height: 10%;
  /* border: 2.5px solid black; */
}
asideb p {
  padding: 0.4em 0;
  margin: 0 0.6em;
}

/* footer section*/
footer {
  padding: 1.6em;
  max-height: 20%;
  height: 20%;
  width: auto;
  text-align: center; 
  background-color: #1976D2;
  clear: both;
  /* border: 2.5px solid black; */
}
footer div img{
  max-height: 20%;
  height: 20%;
  width: auto;
  background-color: #1976D2;
  /*clear: both;*/
  /*padding: 0.6em;*/
  /* border: 2.5px solid black; */
  /*text-align: center;*/
}
footer div p {
  word-spacing: 5px;
}
